.fui-roundedFull-pagination .pagination-list {
    display: flex;
    align-items: center;
    gap: 6px;
}
.fui-roundedFull-pagination .pagination-link {
    display: block;
    min-width: 32px;
    height: 32px;
    padding-inline: 6px;
    border-radius: 100rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    user-select: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fui-roundedFull-pagination .pagination-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.fui-roundedFull-pagination .pagination-link.selected {
    background-color: oklch(54.6% 0.245 262.881);
    color: white;
}