:root {
    --main-color: #2cccff
}
* {
    text-decoration: none;
}
.container {
    width: 100%;
    box-sizing: border-box;
}

.dashboard-admin {
    display: flex;
}

.dashboard-admin .section-menu {
    background: #000;
    width: 20%;
}

.dashboard-admin .section-data {
    width: 80%;
    background: var(--main-color);
}