<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="content">
    <h2 class="text-xl font-bold mb-4">Danh sách chuyến bay</h2>
    <table class="w-full border-collapse">
        <thead>
        <tr class="bg-gray-200 text-left">
            <th class="p-3">ID</th>
            <th class="p-3">Mã chuyến bay</th>
            <th class="p-3">Hãng</th>
            <th class="p-3">Điểm đi</th>
            <th class="p-3">Điểm đến</th>
            <th class="p-3">Giờ khởi hành</th>
            <th class="p-3">Trạng thái</th>
            <th class="p-3">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${pageData.content}" class="border-b">
            <td class="p-3" th:text="${f.id}"></td>
            <td class="p-3" th:text="${f.fightCode}"></td>
            <td class="p-3" th:text="${f.airline}"></td>
            <td class="p-3" th:text="${f.departureAirport.city}"></td>
            <td class="p-3" th:text="${f.arrivalAirport.city}"></td>
            <td class="p-3" th:text="${#temporals.format(f.departureTime, 'HH:mm dd/MM/yyyy')}">
            </td>
            <td class="p-3 font-bold" th:classappend="${f.status == 2} ? 'text-green-600'
                               : (${f.status == 1} ? 'text-yellow-600' : 'text-red-600')" th:text="${f.status == 2 ? 'Đã bay'
                        : (f.status == 1 ? 'Sắp bay' : 'Đã hủy')}">
            </td>
            <td class="p-3">
                <a href="" class="text-blue-600 underline mr-2">
                    Sửa
                </a>
                <a href="" class="text-red-600 underline">
                    Xóa
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-6 flex justify-center" id="pagination-container"></div>

    <div class="mt-6 flex justify-start gap-4">
        <a th:href="@{/admin/flight?create=true}"
           class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
            Thêm chuyến bay
        </a>
    </div>
    <div th:if="${editFlight != null or createMode}" class="bg-white p-6 mt-8 shadow rounded-xl">

        <h3 class="text-xl font-bold mb-4" th:text="${createMode} ? 'Thêm chuyến bay mới' : 'Chỉnh sửa chuyến bay'">
        </h3>
        <form th:action="@{/api/flight/save}" method="post" class="space-y-4">
            <input type="hidden" name="id" th:value="${editFlight?.id}"/>
            <div>
                <label>Hãng bay</label>
                <select name="airline" class="input" required>
                    <option value="">Chọn hãng bay</option>

                    <option th:each="a : ${airlines}"
                            th:value="${a}"
                            th:text="${a}"
                            th:selected="${editFlight != null and editFlight.airline == a}">
                    </option>
                </select>
            </div>
            <div>
                <label>Số ghế</label>
                <input type="number" name="seatCapacity" class="input"
                       min="1" th:value="${editFlight?.seatCapacity}" required />
            </div>
            <div>
                <label>Sân bay đi</label>
                <select name="departureAirportId" class="input border-2 rounded-2 border-indigo-600" required>
                    <option value=""></option>
                    <option th:each="a : ${airports}"
                            th:value="${a.id}"
                            th:text="${a.city}"
                            th:selected="${editFlight != null and editFlight.departureAirport.id == a.id}">
                    </option>
                </select>
            </div>

            <div>
                <label>Sân bay đến</label>
                <select name="arrivalAirportId" class="input border-2 rounded-2 border-indigo-600" required>
                    <option value=""></option>
                    <option th:each="a : ${airports}"
                            th:value="${a.id}"
                            th:text="${a.city}"
                            th:selected="${editFlight != null and editFlight.arrivalAirport.id == a.id}">
                    </option>
                </select>
            </div>

            <div>
                <label>Giờ khởi hành</label>
                <input type="datetime-local" name="departureTime" class="input"
                       th:value="${editFlight?.departureTime}" required/>
            </div>

            <div>
                <label>Giờ đến</label>
                <input type="datetime-local" name="arrivalTime" class="input" th:value="${editFlight?.arrivalTime}"
                       required/>
            </div>

            <div>
                <label>Giá</label>
                <input type="number" name="price" class="input" th:value="${editFlight?.price}"
                       placeholder="Nhập giá vé"
                       required/>
            </div>

            <button class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">Lưu</button>
            <a th:href="@{/admin/flight}" class="px-4 py-2 bg-gray-400 text-white rounded hover:bg-gray-500">Hủy</a>
        </form>
    </div>
</div>
</body>

</html>