<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin Dashboard - SkyTravel</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/Air_icon_54963.png}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/paging.css}">
</head>

<body class="bg-gray-100">
<div class="flex">
    <aside class="w-64 bg-blue-900 text-white h-screen fixed flex flex-col">
        <div class="flex-1 overflow-y-auto p-6 no-scrollbar">
            <h2 class="text-2xl font-bold mb-6">✈ SkyTravel</h2>
            <nav class="space-y-3">
                <a th:href="@{/admin/dashboard}" class="block px-4 py-2 rounded bg-blue-700 hover:bg-blue-600">
                    Dashboard
                </a>
                <div>
                    <button onclick="toggleMenu()"
                            class="w-full flex justify-between items-center px-4 py-2 rounded hover:bg-blue-700">
                        <span>Quản lý</span>
                        <span id="icon-arrow" class="transition-transform">▼</span>
                    </button>
                    <div id="submenu" class="ml-4 mt-2 space-y-2 hidden">
                        <a th:href="@{/admin/flight}" class="block px-4 py-2 rounded hover:bg-blue-700">Chuyến bay</a>
                        <a href="/admin/booking" class="block px-4 py-2 rounded hover:bg-blue-700">Booking</a>
                        <a href="/admin/ticket" class="block px-4 py-2 rounded hover:bg-blue-700">Vé</a>
                        <a href="/admin/airport" class="block px-4 py-2 rounded hover:bg-blue-700">Sân bay</a>
                        <a href="/admin/user" class="block px-4 py-2 rounded hover:bg-blue-700">Người dùng</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="p-4 border-t border-blue-800">
            <a th:href="@{/auth/logout}"
               class="block w-full text-center px-4 py-2 rounded bg-blue-700 hover:bg-blue-600">
                Đăng xuất
            </a>
        </div>
    </aside>

    <main class="ml-64 p-8 w-full">
        <!-- Top Navbar -->
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-3xl font-bold">Dashboard</h1>

            <div class="flex items-center gap-4">
                <span class="font-semibold" th:text="${#authentication.principal.fullname}"></span> <!-- ${fullname} -->
                <img src="https://i.pravatar.cc/40" class="w-10 h-10 rounded-full" alt=""/>
            </div>
        </div>

        <!-- Stats -->
        <div class="grid grid-cols-4 gap-6 mb-8">
            <div class="p-6 bg-white rounded-xl shadow hover:shadow-lg">
                <h3 class="text-sm text-gray-500">Số chuyến bay</h3>
                <p class="text-3xl font-bold text-blue-700" th:text="${completedFlights}">0</p>
            </div>

            <div class="p-6 bg-white rounded-xl shadow hover:shadow-lg">
                <h3 class="text-sm text-gray-500">Tổng booking</h3>
                <p class="text-3xl font-bold text-green-600" th:text="${totalBookings}">0</p>
            </div>

            <div class="p-6 bg-white rounded-xl shadow hover:shadow-lg">
                <h3 class="text-sm text-gray-500">Vé đã xuất</h3>
                <p class="text-3xl font-bold text-purple-600" th:text="${issuedTickets}">0</p>
            </div>

            <div class="p-6 bg-white rounded-xl shadow hover:shadow-lg">
                <h3 class="text-sm text-gray-500">Doanh thu tháng</h3>
                <p class="text-3xl font-bold text-red-600" th:text="${totalPrice}">0 đ</p>
            </div>
        </div>

        <!-- Table -->
        <div class="bg-white p-6 shadow rounded-xl"
        th:replace="${tableFragment} :: content">
        </div>
    </main>
</div>
<script th:src="@{/js/admin/dashboard.js}"></script>
<script th:src="@{/js/admin/pagination.js}"></script>
<script th:inline="javascript"
        th:with="total=${pageData.totalPages}, page=${currentPage}, url=${pageUrl}">
    renderPagination(
        [[${total}]],
        [[${page}]],
        [[${url}]]
    );
</script>
</body>
</html>
