<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Header -->
    <div th:fragment="header" class="header">
        <nav class="navbar">
            <div class="nav-container">
                <div class="nav-logo">
                    <i class="fas fa-plane"></i>
                    <span>SkyTravel</span>
                </div>
                <ul class="nav-menu">
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <li><a th:href="@{/services}">Dịch vụ</a></li>
                    <li><a th:href="@{/about}">Giới thiệu</a></li>
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                    <li><a th:href="@{/booking-management}">Quản lý vé</a></li>
                    <li id="login-menu" th:if="${fullname == null}">
                        <a th:href="@{/auth/login}">Đăng nhập</a>
                    </li>
                    <li id="register-menu" th:if="${fullname == null}">
                        <a th:href="@{/auth/register}" class="register-link">Đăng ký</a>
                    </li>
                    <li class="user-dropdown" id="user-menu" th:if="${fullname != null}">
                        <a href="#" id="userFullName" th:text="${fullname}"></a>
                        <ul class="dropdown">
                            <li><a href="" id="setting">Cài đặt</a></li>
                            <li><a th:href="@{/auth/logout}" id="logoutBtn">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>